.circle {
    height: 200px;
    width:200px;
    border-radius: 50%;
    background-color: #56E1D5;
    margin: 50px 100px 0 50px;
}
.square {
    height: 200px;
    width:200px;
    background-color: #56E1D5;
    margin: 50px 100px 0 50px;
}
.colourChange {
    background-color: #a40b90;

}
.container {
    display: flex;
}
.hidden {
    visibility: hidden;
}
